---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hi there! 👋</h1>
      <p>
        My name is Carter Rabasa and I am a husband and father of two awesome
        kids. I'm a life long programmer who has worked in tech for over 20
        years. I've worn a lot of hats and most recently worked at Twilio where
        I helped build the DevRel function and founded the DevTools product
        team.
      </p>
      <p>
        In my spare time I run the <a
          target="_new"
          href="https://2022.cascadiajs.com">CascadiaJS conference</a
        >, organize the
        <a target="_new" href="https://seattlejs.com">SeattleJS meetup</a> and manage
        the <a target="_new" href="https://200ok.vc">200 OK</a> angel group.
      </p>
      <p>
        I'm currently looking for my next role serving developers. Below are
        some ways you can reach out and connect!
      </p>

      <ul>
        <li>
          <i class="fa-brands fa-github"></i>
          <a target="_new" href="https://github.com/crtr0">github.com/crtr0</a>
        </li>
        <li>
          <i class="fa-brands fa-twitter"></i>
          <a target="_new" href="https://twitter.com/crtr0">twitter.com/crtr0</a
          >
        </li>
        <li>
          <i class="fa-brands fa-mastodon"></i>
          <a target="_new" href="https://hachyderm.io/@crtr0"
            >@crtr0@hachyderm.io</a
          >
        </li>
        <li>
          <i class="fa-solid fa-calendar"></i>
          <a target="_new" href="https://calendly.com/carter-rabasa"
            >Book time to chat</a
          >
        </li>
      </ul>
      <style>
        ul,
        li {
          margin: 0;
          padding: 0;
          list-style-type: none;
        }
      </style>
    </main>
    <Footer />
  </body>
</html>
