<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Carter's Blog - {{ page.title }}</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <meta name="description" content="">
    <meta name="author" content="Carter Rabasa">
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Carter Rabasa</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <!--li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li-->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
        <h1><small>This is tech nook.  There are many like it, but this is is mine.</small></h1>
        </div>
        <div class="row">
          <div class="span10">
            {{ content }}
          </div>
          <div class="span4">
            <h3>About Me</h3>
            <img src="/images/carter.png" width="200" height="200" />
            <p>Fill this in...</p>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Carter Rabasa 2010-2011</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
